<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babel.mybabelapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="Listes"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateListActivity"
            android:label="@string/title_activity_create_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowVocListActivity"
            android:label="@string/label_show_voc_list_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WriteExoVocListActivity"
            android:label="@string/label_write_exo_voc_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultExoActivity"
            android:label="@string/label_result_exo_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SoundExoVocListActivity"
            android:label="@string/label_write_exo_voc_list"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateListVerbsActivity"
            android:label="@string/label_create_list_verbs_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditListActivity"
            android:label="@string/label_edit_list_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnboardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowVerbListActivity"
            android:label="@string/label_show_voc_list_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditListVerbActivity"
            android:label="@string/label_edit_list_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WriteExoVerbListActivity"
            android:label="@string/label_write_exo_verb_list_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultExoVerbActivity"
            android:label="@string/label_result_exo_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>