<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.babel.mybabelapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".CreateListActivity"
            android:label="@string/title_activity_create_list" />
        <activity
            android:name=".ShowVocListActivity"
            android:label="@string/label_show_voc_list_activity" />
        <activity
            android:name=".WriteExoVocListActivity"
            android:label="@string/label_write_exo_voc_list" />
        <activity
            android:name=".ResultExoActivity"
            android:label="@string/label_result_exo_activity" />
        <activity
            android:name=".SoundExoVocListActivity"
            android:label="@string/label_write_exo_voc_list" />
        <activity
            android:name=".EditListActivity"
            android:label="@string/label_edit_list_activity"/>
    </application>

</manifest>